.FooterContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #94ecd8;
}

@media only screen and (max-width: 1000px) {
  .FooterContent {
    padding: 10px 10px;
    flex-direction: column;
  }
}
