@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter var', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media only screen and (max-width: 1026px) {
  .hideSmall {
    display: none;
  }
}