@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

:root {
  --green: #09ccb1;
  --green-smooth: #2be7b6;
  --blue: #46b3dc;
  --dark-blue: #487bd6;
  --white: #ffffff;
  --antiflesh: #fAfAfA;
  --off-white: #fbfbfb;
  --alice-blue: #f0f8ff;
  --ivory: #fffff0;
  --snow: #fffafa;
  --ghost-white: #f8f8ff;
  --gainsboro: #c7c7c7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter var', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li  {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#__next {
  position: absolute;
  top: 0px;
  width: 100%;
}

.absolute-position {
  position: absolute;
  top: 0px;
  width: 100%;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.DangerButton {
  padding: 15px 15px;
  background-color: var(--green);
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.DangerButton:hover {
  border: 3px var(--green) solid;
  color: var(--green);
  background-color: var(--white);
}

.DisableButton {
  background-color: var(--gainsboro);
  color: var(--white);
}

.TicketFeatures::before {
  content: url('/check.svg');
  padding-right: 0.5rem;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter', sans-serif;
  }
}

@media only screen and (max-width: 1023px) {
  .hideSmall {
    display: none;
  }
}
