.HeaderContainer {
}

.HeaderContainer img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  margin-top: 72px;
  min-height: 270px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .RegisterContainer {
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .RegisterContainer {
  }
}

@media (max-width: 600px) {
  .RegisterContainer {
  }
}

.RegisterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -50px auto;
}

.RegisterButton {
  display: block;
  cursor: pointer;
  color: var(--white);
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
}

.RegisterButton:hover {
  color: var(--white);
}

.RegisterButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(
    115deg,
    var(--green),
    var(--blue),
    var(--green-smooth),
    var(--dark-blue),
    var(--green-smooth)
  );
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop
    0.75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.RegisterButton:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}

.RegisterButton span {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: var(--black);
  border-radius: 3px;
  height: 100%;
  letter-spacing: 0.3rem;
}

@media (max-width: 767px) {
  .RegisterButton span {
    padding: 1.1rem 1.1rem;
    font-size: 0.6rem;
  }
}

.Counter {
  font-family: 'Inter var', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(217deg, var(--green), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, var(--blue), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, var(--dark-blue), rgba(0, 0, 255, 0) 70.71%);
  padding: 40px 0;
}

.CounterList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

.CounterListItem {
  background: var(--white);
  border-radius: 10px;
  border: 3px transparent solid;
  color: var(--white);
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 600;
  height: 158px;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  transition-property: color, background-color, border-color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  width: 200px;
  animation-name: scaleAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.CounterListItem:nth-child(1) {
  background: var(--blue);
}

.CounterListItem:nth-child(2) {
  background: var(--green);
}

.CounterListItem:nth-child(3) {
  background: var(--dark-blue);
}

.CounterListItem:nth-child(4) {
  color: var(--green-smooth);
}

.CounterListItem:hover {
  background: var(--white);
}

.CounterListItem:nth-child(1):hover {
  border-color: var(--blue);
  color: var(--blue);
}

.CounterListItem:nth-child(2):hover {
  border-color: var(--green);
  color: var(--green);
}

.CounterListItem:nth-child(3):hover {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

.CounterListItem:nth-child(4):hover {
  background: var(--green-smooth);
  border-color: var(--white);
  color: var(--white);
}

.CounterListItem__time {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .localDateInfo {
    display: none;
  }

  .cardCounter {
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    width: 120px;
  }

  .cardCounter span {
    font-size: 30px;
    font-weight: 400;
  }

  .CounterList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .localDateInfo {
    display: none;
  }

  .cardCounter {
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    width: 120px;
  }

  .cardCounter span {
    font-size: 30px;
    font-weight: 400;
  }

  .CounterList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .CounterList {
    grid-template-columns: 1fr;
  }
}

@keyframes updown {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}
