.BgWrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.BgWrap2 {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.HappyFaceImg {
  position: absolute;
  right: 2%;
  top: 1%;
}

.ContentImg {
  position: absolute;
  right: 50%;
  top: 35%;
}

.CommunityImg {
  position: absolute;
  right: 35%;
  top: 10%;
}

.BellImg {
  position: absolute;
  right: 10%;
  top: 10%;
}

.GlobalImg {
  position: absolute;
  right: 1%;
  top: 30%;
}

.ComplexImg {
  position: absolute;
  right: 20%;
  top: 18%;
}


.BgImageFull {
  background: url('/Header.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.BgImageMin {
  display: none;
}

.MainInnerFull {
  width: 100%;
  height: 65vh;
  text-align: right;
  padding-top: 10%;
  padding-right: 8%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.MainInnerFullContent {
  background: white;
  background-image: radial-gradient(#4385F3 2px, transparent 0);
  background-size: 26px 26px;
  background-position: -10px -10px;
  padding: 30px
}

.MainInnerFullDescription {
  background: white;
  padding: 10px 10px;
}

.Counter {
  align-items: center;
  background-color: #1A1D1C;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  padding: 38px 0;
}

.CounterList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.CounterListItem {
  background: var(--white);
  border-radius: 10px;
  border: 3px transparent solid;
  color: var(--white);
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 600;
  height: 158px;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  transition-property: color, background-color, border-color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  width: 221px;
}

.CounterListItem:nth-child(1) {
  background: var(--blue);
}

.CounterListItem:nth-child(2) {
  background: var(--red);
}

.CounterListItem:nth-child(3) {
  background: var(--orange);
}

.CounterListItem:nth-child(4) {
  color: var(--black);
}

.CounterListItem:hover {
  background: var(--white);
}

.CounterListItem:nth-child(1):hover {
  border-color: var(--blue);
  color: var(--blue);
}

.CounterListItem:nth-child(2):hover {
  border-color: var(--red);
  color: var(--red);
}

.CounterListItem:nth-child(3):hover {
  border-color: var(--orange);
  color: var(--orange);
}

.CounterListItem:nth-child(4):hover {
  background: var(--black);
  border-color: var(--white);
  color: var(--white);
}

.CounterListItem__time {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.MainDescriptionMinWrapper {
  display: none;
}

@media only screen and (max-width: 1026px) {
  .BgImageFull {
    display: none;
  }

  .BgImageMin {
    display: block;
    background: url('/Header.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .MainInnerFullContent {
    display: none;
  }

  .MainDescriptionMinWrapper {
    display: block;
    background-color: var(--white);
    padding: 25px 10px;
  }

  .MainDescriptionMin {
    padding: 30px 30px;
    text-align: center;
    background-image: radial-gradient(var(--blue) 2px, transparent 0);
    background-size: 26px 26px;
    background-position: -10px -10px;
  }

  .cardCounter {
    margin: .5rem;
    padding: 1rem;
    text-align: center;
    width: 120px;
  }

  .cardCounter span {
    font-size: 30px;
    font-weight: 400;
  }

  .CounterList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .CounterList {
    grid-template-columns: 1fr;
  }
}

.RegisterButton {
  padding: 15px 15px;
  background-color: var(--red);
  color: white;
  width: 164px;
  height: 33px;
  font-size: 20px;
  border-radius: 10px;
}

.RegisterButton:hover {
  border: 3px var(--red) solid;
  color: var(--red);
  background-color: var(--white);
}

.ScrollDown {
  margin-top: 30px;
  color: currentColor;
  user-select: none;
  cursor: pointer;
}

.ScrollDownSvg {
  width: 24px;
  opacity: 0.6;
}

.ScrollDownStroke {
  stroke: currentColor;
}

.ScrollDownScroller {
  fill: currentColor;
  animation: updown 2s infinite;
}

@media (min-height: 500px) {
  .ScrollDown {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

@keyframes updown {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(0, 5px)
  }

  100% {
    transform: translate(0, 0)
  }
}