.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  color: #FFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.BgWrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.BgImageFull {
  background: url('/Header.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.BgImageMin {
  display: none;
}

@media only screen and (max-width: 1026px) {
  .BgImageFull {
    display: none;
  }

  .BgImageMin {
    display: block;
    background: url('/Header.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }


  .cardCounter {
    margin: .5rem;
    padding: 1rem;
    text-align: center;
    width: 120px;
  }

  .cardCounter span {
    font-size: 30px;
    font-weight: 400;
  }
}


.mainInner {
  width: 100%;
  height: 65vh;
  text-align: right;
}


.counter {
  height: 35vh;
  width: 100%;
  background-color: #1A1D1C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF
}


.cardCounter {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: inherit;
  width: 200px;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

}

.cardCounter span {
  font-size: 60px;
  font-weight: 600;
}


.cardCounter:hover,
.cardCounter:focus,
.cardCounter:active {
  color: #0070f3;
  border-color: #0070f3;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}