.Container {
  margin-bottom: 60px;
}

.Col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Title {
  text-align: center;
  font-weight: 600;
}

.Title::after {
  background: linear-gradient(
    90deg,
    var(--green),
    var(--blue) 10%,
    var(--green-smooth) 30%,
    var(--dark-blue) 40%,
    var(--green) 70%,
    var(--blue)
  );
  content: "";
  display: flex;
  height: 0.15rem;
  margin: 0 auto;
  margin-top: 0.45rem;
  width: 50%;
}

.Description {
  text-align: justify;
  text-align-last: center;
}

@media only screen and (max-width: 991px) {
  .Description {
  }
}

.FotoContainer img {
  background-size: cover;
}

.FotoContainer img:hover {
  /* transform: scale(1.1); */
}

.VideoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.VideoContainer iframe,
.VideoContainer object,
.VideoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
