.MarqueeOuter {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.MarqueeInner {
  transform: translateX(0);
  animation: marquee 35s linear infinite;
  position: relative;
  z-index: -1;
}

.MarqueeInnerReverse {
  transform: translateX(0);
  animation: marquee 35s linear infinite;
  animation-direction: reverse;
  position: relative;
  z-index: -1;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.ConstructItems {
  display: flex;
  align-items: center;
}

.ConstructItem {
  padding: 20px 30px;
  white-space: nowrap;
  color: var(--white);
}

.ConstructItem:nth-child(3n + 0) {
  background-color: var(--dark-blue);
}

.ConstructItem:nth-child(3n + 1) {
  background-color: var(--green);
}

.ConstructItem:nth-child(3n + 2) {
  background-color: var(--blue);
}
