.navbar_fixed_scrolling {
  position: fixed;
  width: 100%;
  background: linear-gradient(217deg, var(--green), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, var(--blue), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, var(--dark-blue), rgba(0, 0, 255, 0) 70.71%);
  z-index: 1000;
}

.navbar_fixed {
  z-index: 1000;
  color: var(--white);
  position: fixed;
  width: 100%;
}

.nav_link {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding: 0.75rem 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.1rem !important;
  margin-right: 0.1rem !important;
}

.nav_link:hover {
  background-color: var(--blue);
  transition: background-color 0.5s;
}

.shadow_scrolling:hover {
  background-color: var(--blue);
  transition: background-color 0.5s;
}

@media only screen and (max-width: 1023px) {
  .nav_link {
    display: none;
  }

  .nav_brand {
    margin: 0 auto;
  }
}
