.main_navbar {
    height: 100px
}

.navbar_fixed_scrolling {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(32, 33, 36, .8), transparent);
}

.navbar_fixed {
    color: rgba(0, 0, 0, .80);
    position: fixed;
    width: 100%;
}

.nav_brand {
    margin-left: 5%;
    zoom: 1.3;
}

.nav_link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.nav_link:hover {
    background-color: hsl(210deg 2% 80% / 10%);
}

.shadow_scrolling:hover {
    background-color: hsl(0deg 0% 100% / 10%) !important;
}

.collapse_menu {
    display: grid;
    margin-right: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    margin-right: 5%;
}

.opened_menu ul {
    background-color: rgb(43 44 47/1);
    border-radius: 1rem;
    padding: 10px;
}

.toggler_btn {
    border-color: transparent !important;
    padding: 20px;
}

.toggler_btn:focus,
.toggler_btn:active {
    outline: none;
    box-shadow: none;
    box-shadow: transparent !important;
}

.toggler_btn:hover {
    background-color: hsl(210deg 2% 80% / 10%);
    border-radius: 9999px;
}