.Title {
  text-align: center;
}

.Title::after {
  background: linear-gradient(
    90deg,
    var(--green),
    var(--blue) 10%,
    var(--green-smooth) 30%,
    var(--dark-blue) 40%,
    var(--green) 70%,
    var(--blue)
  );
  content: "";
  display: flex;
  height: 0.15rem;
  margin: 0 auto;
  margin-top: 0.45rem;
  width: 30%;
}

.timeRow {
  display: inline-flex;
  margin-top: 20px;
  max-height: 100px;
  font-size: 2rem;
  color: var(--dark-blue);
  letter-spacing: 0.05rem;
}

.principalCol {
  margin-bottom: 10px;
}

.rowContent {
  margin: 20px 0;
}

.opacity {
  opacity: 0.6;
}

.height {
  height: 100%;
}

.timeSeparator {
  opacity: 0.7;
  margin: 0px 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  min-height: 80px;
  padding: 13px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.cardSpeakerInfoContent {
  margin-left: 1rem;
}

.cardSpeakerInfoContent h5 {
  font-size: 1.2rem;
}

.cardSpeakerInfoContent p:not(:first-child) {
  margin: 0;
  font-size: 14px;
}

.divWrapper {
  display: flex;
  align-items: center;
}

.divWrapper > span {
  min-width: 40px;
}

.cardTitle {
  font-weight: 600;
  font-size: 16px;
}

.cardTime {
  display: inline;
  font-weight: 700;
  background: linear-gradient(217deg, var(--green), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, var(--blue), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, var(--dark-blue), rgba(0, 0, 255, 0) 70.71%);;
  border-radius: 50px;
  padding: 0 15px;
}

.pathDiv {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 25px;
}

.pathWrapper {
  width: fit-content;
}

.trilha1 {
  color: white;
  background-color: var(--blue);
  font-size: 14px;
}

.trilha2 {
  color: white;
  background-color: var(--green);
  font-size: 14px;
}

.trilha3 {
  color: white;
  background-color: var(--dark-blue);
  font-size: 14px;
}
