.Title {
  text-align: center;
}

.Title::after {
  background: linear-gradient(
    90deg,
    var(--green),
    var(--blue) 10%,
    var(--green-smooth) 30%,
    var(--dark-blue) 40%,
    var(--green) 70%,
    var(--blue)
  );
  content: "";
  display: flex;
  height: 0.15rem;
  margin: 0 auto;
  margin-top: 0.45rem;
  width: 30%;
}

.cards {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem 0 0 0;
}

.carousel_prev a span {
  background-color: var(--black);
  border-radius: 50%;
}

.carousel_next a span {
  background-color: var(--black);
  border-radius: 50%;
}

.card_container {
  border: 1px solid #dedede;
  border-radius: 5%;
  height: 18rem;
  width: 15rem;
  padding: 1rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.card_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card_image {
  width: 100%;
  height: 100%;
  border: 0px solid #000;
  border-radius: 50%;
  background: #dedede;
  margin: 0 0 3rem 0;
}

.card_name {
  width: 100%;
  font-size: 16px;
  margin: 1.5rem 0 0 0;
}

.card_location {
  width: 100%;
  font-size: 14px;
  margin: 0 0 0.8rem 0;
}

.card_topic {
  width: 100%;
  font-size: 14px;
  margin: 0;
}

.card_profile {
  width: 100%;
  font-size: 14px;
  margin: 0.8rem 0 0 0;
  text-decoration: none;
  color: #298ae4;
}

.carousel_indicators {
  margin-top: 1rem;
}

.carousel {
  width: 100%;
}

.carousel_indicators button {
  opacity: none !important;
  background-color: #298ae4 !important;
  width: 0.6rem !important;
  height: 0.6rem !important;
  border-radius: 50% !important;
}

.carousel_inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--dark-blue);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--dark-blue);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: var(--white);
}

.button:active {
  filter: brightness(0.8);
}

.modal_header {
  padding: 1rem 1.5rem 0 1.5rem;
}

.modal_header button {
  margin: 0 0 4rem 0 !important;
}

.modal_header .card_image img {
  min-width: 110% !important;
  min-height: 110% !important;
  background: #dedede;
}

.modal_speaker_info_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_speaker_info_content {
  width: 80%;
  margin-left: 1rem;
}

.modal_speaker_info_content h1 {
  font-size: 1.6rem;
  margin: 0;
}

.modal_speaker_info_content p {
  margin: 0;
  font-size: 1rem;
}

.modal_body {
  padding: 1rem 1.5rem 0 1.5rem;
}

.modal_body h2 {
  font-size: 1.35rem;
}

.modal_footer {
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_footer a {
  padding: 1rem;
  cursor: pointer;
}

.modal_footer a svg {
  color: #000 !important;
}

@media (max-width: 360px) {
  .carousel_prev a {
    background-color: transparent !important;
    left: -2.5rem !important;
  }

  .carousel_next a {
    background-color: transparent !important;
    right: -1.8rem !important;
  }

  .modal_footer a {
    padding: 0.5rem;
    cursor: pointer;
  }
}

@media (max-width: 414px) {
  .carousel_prev a {
    background-color: transparent !important;
    left: -3rem !important;
  }

  .carousel_next a {
    background-color: transparent !important;
    right: -2rem !important;
  }

  .modal_footer a {
    padding: 0.6rem;
    cursor: pointer;
  }
}

/* page speaker */

.pageDiv {
  margin: 100px 0 30px;
}

.pageCol {
  margin: 0 10px 20px;
}

.pageRow {
  justify-content: center;
  text-align: center;
}

.pageTitle {
  text-align: center;
}

.pageDescription {
  text-align: justify;
  text-align-last: center;
}
