.Container {
  margin-bottom: 60px;
  text-align: center;
}

.Title::after {
  background: linear-gradient(
    90deg,
    var(--green),
    var(--blue) 10%,
    var(--green-smooth) 30%,
    var(--dark-blue) 40%,
    var(--green) 70%,
    var(--blue)
  );
  content: "";
  display: flex;
  height: 0.15rem;
  margin: 0 auto;
  margin-top: 0.45rem;
  width: 30%;
}

.Paragraph {
  margin: 30px 0;
}

.SponsorWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 8px;
  padding: 20px 0px;
  margin: 0px 5px;
}

@media (min-width: 812px) {
  .SponsorWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 640px) {
  .SponsorWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .StaffWrapper {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .StaffCardBody {
    width: 130px;
  }
}

@media (min-width: 382px) {
  .SponsorWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .StaffWrapper {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .StaffCardBody {
    width: 130px;
  }
}

@media (min-width: 1000px) {
  .SponsorWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .StaffWrapper {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .StaffCardBody {
    width: 130px;
  }
}

@media (min-width: 1300px) {
  .SponsorWrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .StaffWrapper {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .StaffCardBody {
    width: 130px;
  }
}

.marginTop50 {
  margin-top: 50px;
}

.StaffWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 8px;
  padding: 20px 0px;
  margin: 0px 5px;
}

.StaffCardBody {
  position: relative;
  width: 100px;
  height: 90px;
}

.SponsorCard {
  background-color: var(--default-background-color);
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 7%), 0 2px 2px 0 rgb(0 0 0 / 15%);
  transition: box-shadow var(--animation);
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.SponsorCardBody {
  position: relative;
  width: 300px;
  height: 100px;
}

.SponsorCardBodyImage {
  padding: 0px 10px !important;
}

/* page sponsor */

.pageDiv {
  margin: 100px 0 30px;
  height: 90vh; /* remover quando add o conteúdo */
  text-align: center;
}

.pageRow {
  margin-top: 60px;
}

.pageP a {
  text-decoration: underline;
  color: var(--link-color);
}

.sponsorCard {
  margin-top: 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
