.SponsorContainer {
  margin: 20px 20%; /* atentar para esses valores */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.Container {
  margin-bottom: 60px;
  text-align: center;
}

.Title::after {
  background: linear-gradient(
    90deg,
    var(--green),
    var(--blue) 10%,
    var(--green-smooth) 30%,
    var(--dark-blue) 40%,
    var(--green) 70%,
    var(--blue)
  );
  content: "";
  display: flex;
  height: 0.15rem;
  margin: 0 auto;
  margin-top: 0.45rem;
  width: 30%;
  margin-bottom: 50px;
}

.Paragraph {
  margin: 30px 0;
}

.SponsorWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #eff0f6;
  border-radius: 14px;
  background-color: var(--white);
  box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.06);
}

.SponsorWrapper > * {
  margin: 10px;
}

@media (max-width: 768px) {
  .SponsorContainer {
    flex-direction: column;
  }
}

.SponsorWrapperStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #eff0f6;
  border-radius: 14px;
  background-color: var(--white);
  box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.06);
}

.SponsorCardBody {
  position: relative;
  width: 200px;
  height: 100px;
}

/* page sponsor */

.pageDiv {
  margin: 100px 0 30px;
  min-height: 90vh;
  text-align: center;
}

.pageRow {
  margin-top: 60px;
}

.pageParagraph a {
  text-decoration: underline;
  color: var(--link-color);
}

.SponsorsSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
  grid-gap: 1rem;
}

.SponsorsSection > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
