.Title {
  text-align: center;
}

.Title::after {
  background: linear-gradient(
    90deg,
    var(--green),
    var(--blue) 10%,
    var(--green-smooth) 30%,
    var(--dark-blue) 40%,
    var(--green) 70%,
    var(--blue)
  );
  content: "";
  display: flex;
  height: 0.15rem;
  margin: 0 auto;
  margin-top: 0.45rem;
  width: 30%;
}

.summaryDoity {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
  background-color: var(--blue);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.summaryDoity:hover {
  background-color: var(--blue);
  color: var(--white);
}

.link {
  color: var(--link-color);
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: var(--black);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content:hover {
  color: var(--white);
}

.heading {
  font-weight: 700;
  font-size: 32px;
}

.para {
  line-height: 1.5;
  font-weight: 300;
  font-size: 22px;
}

.content .btn {
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(217deg, #09ccb1, rgba(255, 0, 0, 0) 90.71%),
    linear-gradient(127deg, #487bd6, rgba(0, 255, 0, 0) 90.71%),
    linear-gradient(336deg, #46b3dc, rgba(0, 0, 255, 0) 90.71%);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.content .btnEnd {
  color: var(--black);
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: var(--gainsboro);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(217deg, #09ccb1, rgba(255, 0, 0, 0) 90.71%),
    linear-gradient(127deg, #487bd6, rgba(0, 255, 0, 0) 90.71%),
    linear-gradient(336deg, #46b3dc, rgba(0, 0, 255, 0) 90.71%);
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover::before {
  height: 100%;
}

.card:hover {
  /* box-shadow: none; */
}

.card:hover .btn {
  color: var(--black);
  background: var(--white);
}

.content .btn:hover {
  outline: 2px solid var(--white);
  background: transparent;
  color: var(--white);
}

.content .btn:active {
  box-shadow: none;
}

.TicketsList {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

@media only screen and (max-width: 840px) {
  .TicketsList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* .TicketItem {
  position: relative;
  padding: 2em 2em 0em 2em;
  -webkit-flex-basis: 250px;
  -ms-flex-basis: 250px;
  flex-basis: 250px;
  margin-right: 3em;
  overflow: hidden;
  margin-bottom: 2em;
  max-width: 210px;
  max-height: 300px;
  min-width: 210px;
  height: 280px;
  width: 210px;
  border: 1px solid #dedede;
  border-radius: 5%;
}

.TicketItemPrice {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.TicketItem:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  background: #dedede;
  top: 50%;
  right: -25px;
}

.TicketItemTitle {
  font-size: 1.8rem;
  padding-bottom: 0.1em;
}

.TicketItemDescription {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 30px;
}

.TicketNotInitiadedDate {
  color: #ccc;
} */

/* .TicketItemOff {
  pointer-events: none;
}

.TicketItemOff::after {
  content: "Esgotado";
  display: block;
  position: absolute;
  width: 400px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: -90px;
  top: 90px;
  background: rgb(240, 141, 126);
  text-align: center;
  color: #fff;
  padding: 0.3em 0;
  font-size: 2rem;
  text-transform: uppercase;
} */

/* @media only screen and (max-width: 580px) {
  .TicketsList {
    margin-left: 20px;
  }

  .TicketItem {
    margin-bottom: 2em;
    max-width: 260px;
  }
}

.TicketsDisclaimer {
  color: rgba(89, 89, 89);
}

.TicketsDisclaimer a {
  color: rgba(0, 0, 255, 0.6);
} */

.plan {
  border-radius: 16px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  color: var(--black);
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: var(--blue);
  border-radius: 12px;
  position: relative;
  color: var(--white);
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--green);
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
}

.plan .pricing small {
  color: var(--white);
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--white);
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: var(--green);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.iconNoTShirt {
  background-color: var(--red) !important;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.plan .button {
  background-color: var(--green);
  border-radius: 6px;
  color: var(--white);
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .buttonEnd {
  background-color: var(--red);
  border-radius: 6px;
  color: var(--white);
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
  cursor: pointer;
  pointer-events: none;
}

.plan .button:hover,
.plan .button:focus {
  background-color: var(--green-smooth);
}