.TicketsList {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 2.5em;
    display: flex;
    overflow-x: scroll;
}

.TicketItem {
    position: relative;
    padding: 2em 2em 0em 2em;
    -webkit-flex-basis: 250px;
    -ms-flex-basis: 250px;
    flex-basis: 250px;
    margin-right: 3em;
    overflow: hidden;
    margin-bottom: 2em;
    max-width: 210px;
    max-height: 300px;
    min-width: 210px;
    height: 280px;
    width: 210px;
    border: 1px solid #dedede;
    border-radius: 5%;
}

.TicketItemPrice {
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.TicketItem:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: #dedede;
    top: 50%;
    right: -25px;
}

.TicketItemTitle {
    font-size: 1.8rem;
    padding-bottom: 0.1em;
}

.TicketItemDescription {
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 30px
}

.TicketNotInitiadedDate {
    color: #ccc;
}

.TicketItemOff {
    pointer-events: none;
    background-color: rgba(204, 204, 204, 0.428);
}

.TicketItemOff:after {
    content: 'Esgotado';
    display: block;
    position: absolute;
    width: 400px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -90px;
    top: 90px;
    background: rgb(240, 141, 126);
    text-align: center;
    color: #fff;
    padding: 0.3em 0;
    font-size: 2rem;
    text-transform: uppercase;
}


@media only screen and (max-width: 580px) {

    .TicketsList {
        margin-left: 20px;
    }

    .TicketItem {
        margin-bottom: 2em;
        max-width: 260px;
    }
}


.TicketsDisclaimer {
    color: rgba(89, 89, 89);
}

.TicketsDisclaimer a {
    color: rgba(0, 0, 255, .6)
}